body {
	margin:0 auto;
	font-family:"Indie Flower","Comic Sans MS", cursive, sans-serif;
	background-color: #333;
	color: #77EDF4;
}

.container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	height: 100vh;
}

/**grid specific styles begin**/
.item-a {
  	grid-area: logo;
	background-color: #77EDF4;
	padding: 0.5rem;
}
.item-b {
  	grid-area: header;
  	background-color: #77EDF4;
  	padding: 0.5rem;
}

.item-d {
  	grid-area: main;
  	padding: 1rem;
}
.item-e {
  	grid-area: recents;
	background-color: #77EDF4;
	color: #333;
	padding: 0.5rem;
}
.item-f {
  	grid-area: footer;
	background-color: #77EDF4;
	color: #333;
	padding: 0.15rem;
}
.grid-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 5% 70% 15%; 
	grid-template-rows: 15% 35% 35% 5%;
	grid-template-areas: 
		"logo header header"
		"main main recents"
		"main main recents"
		"footer footer footer";
	grid-column-gap: 0.25rem;
	grid-row-gap: 2.5rem;
	
	justify-items: stretch;//center ;//start;//end;
	align-items: stretch;//space-evenly;//start;//end;////center;
	justify-content: space-evenly;//space-between;//space-around;//stretch;//center; //for horizontal
	align-content: space-between;//start; //for vertical
	
	//for implicitly created rows/columns
	grid-auto-columns: 3rem;
	grid-auto-rows: 3rem;
	
	//notice how the 'random' items are placed when this changes to row/column
	grid-auto-flow:column;//row
}

nav {
	display: flex;
	justify-content: space-evenly;
	a{
		padding:0.5rem;
		background-color: #333;
		text-decoration: none;
		color:	#77EDF4;
		border-radius: 0.5rem;
		border: 0.05rem solid #333;
		&:hover {
			background-color: #77EDF4;
			color: #333;
			border: 0.05rem solid #333;
		}
	}
}


.liquors {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	.add-liquor {
		background-color: #77EDF4;
		border-radius: 0.25rem;
		cursor: pointer;
		width:4rem;
		i {
			color: #333;
		}
		&:hover {
			background-color: #333;
			color: #77EDF4;
			i {
				color: #77EDF4;
			}
		}
	}

	.liquor-list {
		list-style: none;
		padding:1rem;
		dt {
			margin-top: 1rem;
			padding: 0.25rem;
		}
		dd {
			padding: 0.25rem;
			border-bottom: 0.05rem solid #77EDF4;
			margin-bottom: 1rem;
		}
	}

	a {
		color: #77EDF4;
		border-radius: 0.5rem;
		padding:0.25rem;
		text-decoration: none;
		&:hover {
			background-color: #77EDF4;
			color: #333;
			border: 0.05rem solid #333;
		}
	}
}

.liquor{
	
	.liquor-detail{
		padding: 1rem;
		.liquor-list {
			list-style: none;
			dt {
			}
			dd {
			}
		}

		.fa-tags {

		}
		.add-tag{
			color: #333;
			padding: 0;
			background-color: #333;
			border: transparent;;
			i{
				margin: 0;
				color: #77EDF4;
			}
		}
	}

	.comments {
		padding: 1rem;
		padding-left: 2rem;
		font-size: 0.75rem;
		.comment {
			background-color: #1d1f20;//#77EDF4;
			color: #77EDF4;//#333;
			opacity: 0.75;
			font-size: 1rem;
			display: flex;
			border-radius: 1rem;
			margin: 0.25rem;
			p{
				padding: 0.25rem;
				margin: 0.25rem;
				flex: 1 1 auto;
			}
			.remove-comment{
				padding: 0.25rem;
			}
		}
		.submit-comment{
			background-color: #77EDF4;
			display: block;
		}
	}

	fieldset{
		border: 0.05rem solid #77EDF4;
		padding: 1.25rem;
		margin: 2rem;
	}
}

.add-liquor {
	i{
		font-size: 1rem;
	}
	fieldset{
		border: 0.05rem solid #77EDF4;
		padding: 1.25rem;
		width:90%;
	}

	.add-brand{
		display: block;
		margin: 1rem;
		margin-bottom: 2rem;
	}

	.add-name{
		display: block;
		margin: 1rem;
		margin-bottom: 2rem;
	}

	.submit-liquor{
		background-color: #77EDF4;
		display: block;
	}
}

.ls-modal{
	border: 0.25rem solid #E35B44;
	padding:1rem;
	margin:0.5rem;
	width:35rem;
	position: absolute;
	z-index: 1;
	background-color:white;
	color: #333;
	button {
		background-color: #77EDF4;
		color: #333;
		margin: 0.5rem;
	}

	.tag-input{
		display:block;
		margin: 0.5rem;
	}
}
.tags{
	display: flex;
	.fa-tags {
	  padding:5px;
	  margin:5px;
	}
	.tag-list {
		display:flex;
	  list-style:none;
	  margin: 0;
	}
}
.ls-tag {
	padding:5px;
  background-color:#77ED;
  margin:5px;
  border-radius: 5px;
  font-size: 1rem;
  .close-tag{
  	color: #333;
  }
}

