<section class="grid-container">
	<section class="item item-a"></section>
	<section class="item item-b">
		<nav>
			{{#link-to "index"}}LIQUORS{{/link-to}}
			{{#link-to "index"}}TAGS{{/link-to}}
		</nav>
	</section>
	{{outlet}}
	<section class="item item-e recents">
		<section class="recent-liquors">
			<h4>Liquors</h4>
			<ul class="recent-liquor-list">
				{{#each model.liquors as |liquor|}}
					<li>{{liquor.name}}</li>
				{{/each}}
			</ul>
		</section>
		<section>
			<h4>Tags</h4>
			<ul class="recent-tag-list">
				{{#each model.tags as |tag|}}
					<li>{{ls-tag name=tag.name tagId=tag.id }}</li>
				{{/each}}
			</ul>
		</section>
		
	</section>
	
	<section class="item item-f">
		<span>Footer</span>
	</section>
</section>

